* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 60px 0;
}

address {
  font-style: normal;
}
