.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__menu {
    margin-right: 37px;
    width: 391px;
    height: 22px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
}

.header__link {
    text-decoration: none;
}

.header__logo {
    display: block;
    margin-right: 184px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    width: 240px;
    font-style: normal;
}

.header__address {
    justify-self: end;
}


.cover {
    position: relative;
    height: 750px;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    z-index: 1;
    inset: 0; /* растягивает overlay на всю область, включая padding */
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    z-index: 2;
    margin-bottom: 106px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px; /* отступ между буквами */
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    position: absolute;
    bottom: 50px;
    gap: 107px;
    align-items: center;
}

.cover__description-text {
    position: relative;
    z-index: 2;
    font-size: 22px;
}

.letter-spacing-extended {
    display: inline;
    word-spacing: 15px;
}

.no-letter-spacing {
    display: inline;
}

.bet-button {
    position: relative;
    z-index: 2;
    width: 256px;
    height: 51px;
    padding: 12px 32px 11px 31px;
    border: 1px solid white;
    background: transparent;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
}

.lots {
    margin: 180px 24px 0;
    height: 723px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    color: white;
}

.lots__card-list-item {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 334px;
    height: 596px;
    justify-content: space-between;
}

.card-link {
    z-index: 2;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.card-text {
    z-index: 2;
    font-size: 20px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lots__look-more-link {
    display: flex;
    margin: 30px 0 2px 40px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 120px 24px 0;
    padding-left: 47px;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 141px;
    height: 113px;
}

.about__title {
    margin-top: 136px;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 180px;
    padding: 0 50px 82px;
}

.footer__menu {
    margin-right: 37px;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 154px;
    list-style: none;
    font-size: 18px;
}

.footer__links-list-item {
    min-width: max-content;
}

.footer__link {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    margin-left: 178px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}